<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <h1>Golf Statistics</h1>
    <h2>
      This is the home page for the Golf Statistics application.
    </h2>
    <p>Signed in user:</p>
    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
  </div>
<% else %>
	<div class="center .jumbotron">
		<h1>Golf Statistics</h1>

		<h2>
	 		This is the home page for the Golf Statistics application.
		</h2>

		<%= link_to "Sign up now!", signup_path, 
																class: "btn btn-large btn-primary" %>
	</div>
<% end %>
