<% provide(:title, 'Sign up') %>

<h4>Sign up...</h4><p></p>

<div class = "container">
  <%= form_for(@user , html:{class: "form-horizontal", role: "form"}) do |f| %>
		<%= render 'fields', f: f %>
		
		<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		<%= link_to "Cancel", root_path, {:class=>"btn btn-default"} %>
   <% end %>
</div>
	
    