<% provide(:title, @user.name) %>
<div class="profile">
  <div class="profile__info"> 
    <p><b>Name:</b>&nbsp&nbsp<%=@user.name%></p> 
    <p><b>Email:</b>&nbsp&nbsp<%=@user.email%></p> 
    <p><b>Admin:</b>&nbsp<%=if @user.admin then "Yes" else "No" end%></p> 
  </div>
</div>