<footer class="footer">
  <small>
    
  </small>
  <nav>
    <ul>
      <!--
      <li><%= link_to "Link 1",   '#' %></li>
      <li><%= link_to "Link 2", '#' %></li>
    -->
    </ul>
  </nav>
</footer>